<div>
    <h2>{{.Name}}</h2>
    <h3>{{.CurrentTime.Format "Mon Jan _2 15:04:05 MST 2006"}}</h3>
    {{range .IPs}}
        <h4>{{.}}</h4>
    {{end}}
    {{ if ne .Error "" }}
        <h4><scan class="error">{{.Error}}</scan></h4>
    {{end}}
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="card">
                <h3>Indoors</h3>
                <p><strong>Temperature: </strong>{{.Indoors.TemperatureF}} F</p>
                <p><strong>Updated: </strong>{{.Indoors.Updated.Format "Mon Jan _2 15:04:05 MST 2006"}}</p>
            </div>
            <div class="card">
                <h3>Outdoors</h3>
                <p><strong>Temperature: </strong>{{.Outdoors.TemperatureF}} F</p>
                <p><strong>Updated: </strong>{{.Outdoors.Updated.Format "Mon Jan _2 15:04:05 MST 2006"}}</p>
            </div>
        </div>
    </div>
</div>
