<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YoStats :: Latest</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/termometer-half_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/termometer-half_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="static/img/termometer-half_64.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="static/img/termometer-half.svg">
    <link rel="stylesheet" href="static/style/mini-default.min.css">
    <link rel="stylesheet" href="static/style/common.css">
    <script src="static/js/htmx.js"></script>
</head>
<body style="text-align: center">
<div id="content" hx-get="/status" hx-trigger="every 1s" hx-swap="innerHTML">
    {{template "status_frag.html" .}}
</div>
</body>
</html>
