body {
    background-color: black;
    color: lightslategrey;
}
.row {
    justify-content: center;
}
.card {
    background-color: black;
    border-color: lightslategrey;
    color: lightslategrey;
}
.error {
    color: darkred;
}
